@import url('https://fonts.googleapis.com/css2?family=Andika&family=Josefin+Sans&family=Nunito&family=Rubik&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  width: 100%;
}

body {
  overflow-y: scroll;
  /* overflow-x: scroll; */
  margin: 0;
  font-family: 'Andika', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gradient-to-tr from-stone-900 to-slate-900;
}

nav {
  position: absolute;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.389);
  width: 100vw;
  height: 80vh;
  z-index: 1;
  right: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  transition-duration: 150ms;
  transition-duration: 200ms;


  /* @apply absolute bg-stone-900 shadow shadow-cyan-50 w-full left-0 right-0 p-5 z-50 transition-all duration-200; */
  /* @apply lg: relative lg:bg-transparent lg:shadow-none lg:p-0 lg:z-auto lg:w-auto; */
  top: -100vh;
}

nav li {
  margin-top: 0;
  padding: 5px;
}

nav.open {
  top: 6rem;
  font-size: 14px;
}

@media (min-width: 1024px) {
  nav {
    height: 0;
    font-size: 14px;
    position: relative;
    background-color: transparent;
    backdrop-filter: none;
    box-shadow: none;
    padding: 0px;
    z-index: auto;
    width: auto;
    top: 0;
  }

  nav.open {
    top: 0;
  }
}

/* nav ul {
  @apply lg: flex lg:items-center lg:justify-center lg:gap-3;
} */
@media (min-width: 1024px) {
  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
  }
}

/* nav ul li {
  @apply mb-3 lg: mb-0;
} */

@media (min-width: 1024px) {
  nav ul li {
    margin-bottom: 0px;
  }
}

.btn {
  @apply py-2 px-8 border-r-2 bg-transparent text-white;
}

.btn :hover {
  opacity: 75;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 200ms;
}


.heading {
  @apply text-white font-bold text-4xl;
}

@media (min-width: 768px) {
  .heading {
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 1280px) {
  .heading {
    font-size: 3.75rem;
    line-height: 1;
  }
}


p {
  @apply text-sm;
  line-height: 1.8;
}

.showcase {
  background: url("./bg-image.jpg") no-repeat center/cover;
}

.showcase .overlay {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8rem 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {

  .showcase,
  .showcase .overlay {
    height: 100vh;
  }
}

.max-width {
  @apply max-w-6xl mx-auto;
}

.articles {
  @apply bg-zinc-900 p-5 rounded-lg shadow shadow-zinc-800 text-white text-sm;
}




img {
  border-radius: 0.5rem;
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.spinner article {
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  border: 2px solid white;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}